{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>USER LIST</h1>

    <table>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>{{ user.createdDate.format('d.m.Y H:i') }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
