{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript">
        (function ($) {
            $.fn.serializeFormJSON = function() {
                let o = {};
                let a = this.serializeArray();

                $.each(a, function () {
                    let name = this.name;
                    let value = this.value || '';

                    if (o[name]) {
                        if (!Array.isArray(o[name])) {
                            o[name] = [o[name]];
                        }
                        o[name].push(value);
                    } else {
                        o[name] = value;
                    }
                });
                return o;
            }
        })(jQuery);

        $('form').submit(function(e) {
            e.preventDefault();

            let form = $(this);
            let url  = form.attr('action');
            let data = form.serializeFormJSON();

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(data) {
                    console.log(data);
                },
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.name) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
