<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony - Admin{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                <li><a href="{{ path('admin_user_list') }}">Users</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>
