<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony REST - DEMO{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_index') }}">Admin</a></li>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% else %}
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>
